<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite">
    <test verbose="2" name="测试加法">
        <classes>
            <class name="com.ken.test"/>
        </classes>
    </test>
    <test verbose="2" name="测试减法">
        <classes>
            <class name="com.ken.test2" />
        </classes>
    </test>
    <test verbose="2" name="百度搜索测试">
        <classes>
            <class name="com.ken.test_baidu" />
        </classes>
    </test>
    <test verbose="2" name="Bing搜索测试">
        <classes>
            <class name="com.ken.test_bing" />
        </classes>
    </test>
</suite> <!-- Default suite -->
